body {
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
    padding: 0; /* Elimina los rellenos predeterminados del cuerpo */
}

.sitio {
    width: 1200px;
    margin: 0 auto; /* Centra el contenedor principal */
    display: flex;
}

.encabezado {
    width: 100%; /* Ancho centrado del encabezado */
    position: fixed; /* Fija el encabezado en la parte superior */
    z-index: 1; /* Asegura que el encabezado esté sobre los demás elementos */
}

.side {
    width: 200px; /* Ancho del lado */
    position: fixed; /* Fija el lado en la parte izquierda */
    margin-top: 200px; /* Ajusta el margen superior para colocar debajo del encabezado */
}

.medio {
    flex: 1; /* Toma el espacio restante disponible */
    margin-top: 200px; /* Ajusta el margen superior para colocar debajo del encabezado */
    margin-left: 200px; /* Ajusta el margen izquierdo para alinearse con el lado */
    padding: 20px; /* Ajusta el relleno si es necesario */
    /* text-align: center; */
    /* background-color: brown; */
}

.unique {
    flex: 1; /* Toma el espacio restante disponible */
    margin-top: 200px; /* Ajusta el margen superior para colocar debajo del encabezado */
    /* margin-left: 200px; */
    padding: 20px; /* Ajusta el relleno si es necesario */
    /* text-align: center; */
    /* background-color: brown; */
}

.indice_documentos {
    margin: 0 auto; /* Centra la tabla horizontalmente */
    text-align: center;
}

.indice_documentos tr  td{
    padding-right: 15px;
}

.side ul {
    list-style: none; /* Elimina los estilos de lista predeterminados */
    padding: 0;
    margin: 0;
}

.side ul li {
    /* background-color: #3498db; Color de fondo del elemento del menú */
    padding-bottom: 5px;
    margin-bottom: 1px; /* Espaciado entre elementos del menú */
    text-align: left;
}

.side ul li a {
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    color: #000000;
    display: block; /* Hace que todo el área del li sea cliclable */
    padding-left: 10px;
}

.side ul li a:hover {
    background-color: #265e33; /* Cambia el color de fondo al pasar el ratón por encima */
    color: #b4d6af;
    font-weight: bold;
    border-radius: 5px;
}

.no_access{
    background-color: #a2adad;
    color: #362108;
}

.listcolecciones {
    border-collapse: collapse;
    width: 100%;
}

.listcolecciones th, .listcolecciones td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.listcolecciones {
    border-collapse: collapse;
    width: 100%;
}

.listcolecciones th, .listcolecciones td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.listcolecciones th {
    background-color: #265e33;
    color: white;
}

.listcolecciones .tit_lista {
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 20px;
}

.listcolecciones .table_id {
    width: 30px;
}

.listcolecciones .table_doc {
    width: 130px;
}




.item th, .item td {
    /* border: 1px solid #ddd; */
    padding: 4px;
    text-align: left;
}

.item {
    border-collapse: collapse;
    width: 100%;
}

.item th, .item td {
    /* border: 1px solid #ddd; */
    padding: 4px;
    text-align: left;
}

.item th {
    background-color: #265e33;
    color: white;
    text-align: center;
}
.item .archivo {
    text-align: center;
}


#buscador{
    width: 500px;
    border-radius: 5px;
}

.cancel{
    background-color: lightcoral;
    width: 80px;
    border-radius: 5px;
}

.cancel:hover{
    background-color:brown;
}

.send{
    width: 80px;
    border-radius: 5px;
}

.send:hover{
    background-color: aquamarine;
}

.texto{
    width: 200px;
    border-radius: 5px;
    margin: 3px;
}

.formulario_ingreso{
    list-style: none; /* Elimina los estilos de lista predeterminados */
    padding: 0;
    margin: 0;
}

.formulario_ingreso td{
    width: 200px;
}

